
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="4" [rowspan]="1" style="background-color: lightblue">
	<h1>
		<a href="/"><button mat-fab color="success" aria-label="Home button"><img src="assets/home.png" height="28" alt="Home"></button></a>
		{{title}}
	</h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="6" style="background-color: lightblue">
    <app-users></app-users>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="6" style="background-color: lightblue">
      <router-outlet></router-outlet>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="2" style="background-color: lightblue">
  <app-messages></app-messages>
  </mat-grid-tile>
</mat-grid-list>